html, body, *, *:after, *:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.border-radius, .navbar-item, #main-header {
  border-radius: 7px;
}

.border-radius-round {
  border-radius: 100px;
}

.box-shadow, #main-header {
  box-shadow: 1px 1px 20px -3px gainsboro;
}

body {
  font-family: GoogleSans;
  font-size: 16px;
  min-height: 100vh;
  background-color: #fff;
}

.main-content__header, .flex-column, .flex-row, .banner, .social-navbar, .navbar, #main-header {
  display: flex;
}

.flex-row, .main-content__header, .banner, .social-navbar, .navbar, #main-header {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-space-between, .main-content__header, .banner, #main-header {
  justify-content: space-between;
}

.flex-align-center, .main-content__header, .banner, .social-navbar {
  align-items: center;
}

#main-header {
  background-color: #fff;
  position: fixed;
  margin: 0.5rem 0.75rem;
  width: calc(100% - 1.5rem);
  z-index: 100;
}

.navbar-item {
  margin-right: 0.15rem;
  padding: 0.5rem 1rem;
  line-height: 1.15;
}
.navbar-item.active {
  background-color: #4169E1;
  color: #fff;
  font-weight: bold;
}
.navbar-item :hover:not(.active) {
  color: #1a3ca2;
}

.social-navbar__item {
  margin-right: 1rem;
  font-size: 1.15rem;
  transform: rotateY(0deg);
  transition: transform 0.3s;
}
.social-navbar__item:last-child {
  margin-right: 2rem;
}
.social-navbar__item:hover:not(.logo) {
  transform: rotateY(180deg);
}
.social-navbar__item.logo {
  height: 2.5rem;
}

/* banner styles */
.banner {
  height: 100vh;
}
.banner .banner-text {
  padding-left: 2.5rem;
  width: 50%;
  color: #333;
}
.banner .banner-text p {
  display: inline-block;
  margin-right: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.banner .banner-text p:not(.banner-text__principal) {
  will-change: transform;
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  animation: showingItem 1s forwards;
}
.banner .banner-text p:nth-child(3) {
  animation-delay: 1.15s;
}
.banner .banner-text p:nth-child(4) {
  animation-delay: 2.3s;
}
.banner .banner-text .banner-text__principal {
  font-size: 3.5rem;
  font-weight: 400;
  font-style: italic;
}
.banner .banner-img {
  width: 50%;
}

@keyframes showingItem {
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* FAQ & Form */
.contactform-area {
  text-align: center;
}
.contactform-area h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}
.contactform-area .main_btn {
  padding: 0.5rem 1rem;
  background-color: #4169E1;
  border-radius: 7px;
  color: #fff;
  font-weight: bold;
}

.accordion {
  border-radius: 7px;
}
.accordion .card * {
  background-color: #fff;
}
.accordion .card-body {
  background-color: #f7f7f7;
}

.form-group {
  text-align: left;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.form-group label {
  display: block;
}
.form-group input, .form-group textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border: 1px solid gainsboro;
  outline: none;
}
.form-group input:focus, .form-group textarea:focus {
  border-color: #4169E1;
}

footer {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  background-color: #f2f2f2;
}

.main-content {
  padding: 5rem 3rem 0 3rem;
}

.main-content__header div {
  position: relative;
}
.main-content__header div:before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  display: block;
  background-color: gainsboro;
  height: 0.25rem;
  width: 65%;
  animation: scaleAnimationStart 1s cubic-bezier(0.64, 0.07, 0.65, 1.5);
  transform-origin: left center;
}
@keyframes scaleAnimationStart {
  from {
    transform: scale3d(0, 1, 1);
  }
}
.main-content__header h1 {
  font-style: italic;
}
.main-content__header h3 {
  font-weight: bold;
}
.main-content__header img {
  width: 10rem;
  border-radius: 100px;
}

.information-info {
  font-size: 1rem;
  list-style: none;
  padding: 1rem 0;
}
.information-info li {
  padding: 0.2rem;
}
.information-info li i {
  color: #4169E1;
  width: 2rem;
  text-align: center;
  font-size: 1.1rem;
}

.information__card {
  border: 1px solid gainsboro;
  border-radius: 7px;
  padding: 0;
}
.information__card .information__card-title {
  display: block;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid gainsboro;
  font-weight: bold;
}
.information__card .information__card-title i {
  margin-right: 1rem;
}

/*# sourceMappingURL=style.css.map */
