@import "variables", "resets", "utils";

body{
  font-family: $font-family;
  font-size: $font-size;
  min-height: 100vh;
  background-color: $body-color;
}

@import "flex";

#main-header{
  @extend .flex-row;
  @extend .flex-justify-space-between;
  background-color: $secondary;
  position: fixed;
  margin: .5rem .75rem;
  width: calc(100% - 1.5rem);
  z-index: 100;
  @extend .border-radius;
  @extend .box-shadow;
}
.navbar{
  @extend .flex-row;
}

.navbar-item{
  margin-right: .15rem;
  padding: .5rem 1rem;
  line-height: 1.15;
  @extend .border-radius;
  &.active{
    background-color: $primary;
    color: $secondary;
    font-weight: bold;
  }
  :hover:not(.active){
    color: darken($primary, 20%);
  }
}

.social-navbar{
  @extend .flex-row;
  @extend .flex-align-center;
}
.social-navbar__item{
  margin-right: 1rem;
  font-size: 1.15rem;
  transform: rotateY(0deg);
  transition: transform .3s;
  &:last-child{
    margin-right: 2rem;
  }
  &:hover:not(.logo){
    transform: rotateY(180deg);
  }
  &.logo{
    height: 2.5rem;
  }
}

/* banner styles */
.banner{
  height: 100vh;
  @extend .flex-row;
  @extend .flex-align-center;
  @extend .flex-justify-space-between;
  .banner-text{
    padding-left: 2.5rem;
    width: 50%;
    color: $text;

    p{
      display: inline-block;
      margin-right: 1rem;
      font-size: 2.5rem;
      font-weight: bold;
      &:not(.banner-text__principal){
        will-change: transform;
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
        animation: showingItem 1s forwards;
      }
      &:nth-child(3){
        animation-delay: 1.15s;
      }
      &:nth-child(4){
        animation-delay: 2.3s;
      }
    }

    .banner-text__principal{
      font-size: 3.5rem;
      font-weight: 400;
      font-style: italic;
    }
  }
  .banner-img{
    width: 50%;
  }
}

@keyframes showingItem {
  to{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


/* FAQ & Form */
.contactform-area{
  text-align: center;

  h3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
  }

  .main_btn{
    padding: .5rem 1rem;
    background-color: $primary;
    border-radius: $border-radius;
    color: $secondary;
    font-weight: bold;
  }
}

.accordion {
  border-radius: $border-radius;
  .card *{
    background-color: $secondary;
  }

  .card-body{
    background-color: darken($secondary, 3);
  }
}

.form-group{
  text-align: left;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.5rem;

  label{
    display: block;
  }
  input, textarea{
    width: 100%;
    padding: .5rem 1rem;
    border-radius: $border-radius;
    border: 1px solid gainsboro;
    outline: none;
    &:focus{
      border-color: $primary;
    }
  }
}

footer{
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  background-color: darken($secondary, 5);
}


.main-content{
  padding: 5rem 3rem 0 3rem;
}

.main-content__header{
  @extend %flex;
  @extend .flex-row;
  @extend .flex-justify-space-between;
  @extend .flex-align-center;

  div{
    position: relative;
    &:before{
      content: "";
      position: absolute;
      bottom: -.5rem;
      display: block;
      background-color: gainsboro;
      height: .25rem;
      width: 65%;

      @keyframes scaleAnimationStart {
        from{
          transform: scale3d(0, 1, 1);
        }
      }
      animation: scaleAnimationStart 1s cubic-bezier(.64,.07,.65,1.5);
      transform-origin: left center;
    }
  }

  h1{
    font-style: italic;
  }

  h3{
    font-weight: bold;
  }

  img{
    width: 10rem;
    border-radius: $border-radius-round;
  }
}

.information-info{
  font-size: 1rem;
  list-style: none;
  padding: 1rem 0;

  li{
    padding: .2rem;
    i{
      color: $primary;
      width: 2rem;
      text-align: center;
      font-size: 1.1rem;
    }
  }
}


.information__card{
  border: 1px solid gainsboro;
  border-radius: $border-radius;
  padding: 0;

  .information__card-title{
    display: block;
    padding: .5rem 1rem;
    border-bottom: 1px solid gainsboro;
    font-weight: bold;
    i{
      margin-right: 1rem;
    }
  }
}
