$font-family: GoogleSans;
$font-size: 16px;

$primary: #4169E1;
$secondary: #fff;

$text: #333;

//$body-color: #f0f0f0;
$body-color: #fff;

$border-radius: 7px;
$border-radius-round: 100px;

$box-shadow: 1px 1px 20px -3px gainsboro;
